.cat-list{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    text-align: center;
    /* max-width: 80%; */
    /* margin: auto; */
    overflow-x: scroll;
}
.cat-list::-webkit-scrollbar{
    display: none;
}
.cat-item-list{
    
    align-items: center;
    margin-top: 20px;

    
}
.cat-item-list img{
    width: 7.5vw;
    min-width: 80px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.2s;
}
.cat-item-list p{
    color:black;
    font-weight: 500;
}
.cat-item-list .active{
    border: 4px solid red;
    padding: 2px;
}